/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29-Mar-2022, 3:51:55 pm
    Author     : ADMIN
*/

.textbox{
    width:67em;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

.glyphicon,.greenify{
    color: #28A745;
}


summary{
    display:list-item;
}
.hoverblocks:hover{
    border: 3px solid #5cb85c;
    border-radius: 8px;
}
.hoverblocks>a:link{
    text-decoration: none;
}
hr{ 
  
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         90vh;
    width:          1px;
    opacity:        50%;
    margin-top: -2vh;
}
/*NEW CHANGES BY NAFISA START HERE*/
@media only screen and (max-width: 1000px) {
  hr {
    display: none;
  }
  .textbox{
      width:90vw;
  }
}
/*Animated Checkmark Css*/
.zoom-in{
    
    color:#5cb85c;
    animation-name: zoom;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
@keyframes zoom{
  from {
    font-size: 0px;
  }
  
  to {
    font-size: 100px;
  }
}

/*Animated Checkmark CSS ends here*/

/*Animated Ambulance Css*/
.slide-right{
    color:#5cb85c;
    margin-left: -25vw;
    font-size:100px !important;
    animation-name: slide-right;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-timing-function: ease;  
    animation-fill-mode: forwards;
}

@keyframes slide-right{
  from {
    margin-left: -25vw;
  }
  
  to {
    margin-left: 44vw;
  }
}
/*ambulance animation ends*/

.card-img{
    height: 190px;
    width:325px;
}

/*CSS for custom carousel*/
 .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #28A745;
  }
  .carousel-indicators li {
    border-color: #28A745;
  }
  .carousel-indicators li.active {
    background-color: #28A745;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px;
  }
  .item span {
    font-style: normal;
  }
  #myCarousel{
      word-wrap: break-word;
  }
  /*Custom carousel ends here*/
  /*custom nav pills begin*/
  .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover  {
        color: whitesmoke;
        background-color:  #28A745;
    }
    .nav-pills > li> a{
        color: green;
    }
    
  

        
/*NAFISA'S CHANGES END HERE*/